@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="
        font-size: 200px;
        margin-top: 200px;
        margin-bottom: 50px;
        font-family: cursive;
        color: cadetblue;
        ">
        Welcome
    </h1>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
