@model ViewProfileViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewProfile</title>
    <h1>ViewProfile</h1>
</head>
<body>
</body>
</html>
