@model IdentityRole

@{
    ViewData["Title"] = "Edit";
}

<h1>Update Role </h1>
<form asp-action="Edit" enctype="multipart/form-data">
    
	<input hidden asp-for="Id" />
    <div class="form-group">
        <label class="col-form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
 	
	<input type="submit" value="Save" class="btn btn-primary" />|
	<a asp-action="Index" class="btn btn-light">Back to list </a>

</form>

@section ValidationScriptSection {
	<partial name="_ValidationScriptsPartial" />
    } 