
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1></h1>
<div >
<div class="main-agileinfo">
    <div style="padding:20px">
        <div class="body">
            <div>
                Password reset link has been Sent To Your Email. Please check your inbox :)
            </div>
            <div>
                <a href="https://mail.google.com/mail/u/0/#inbox">Your Inbox</a>
            </div>
        </div>
    </div>
</div>
</div>